PORT=

# PARA RODAR SEM DOCKER

DATABASE_URL=<url-do-seu-banco-na-cloud>

# PARA RODAR COM DOCKER

DATABASE_URL="postgresql://postgres:postgres@db:5432/meubanco?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=meubanco

JWT_SECRET="crie_uma_chave_super_secreta_para_assinar_os_tokens"
JWT_EXPIRES_IN="defina o tempo de duração do token"
